div.image {
  background: url("../../../../assets/wXNWnERuL3w.jpg");
  background-size: cover;
  height: 50%;
  width: 100%;
}
mat-card {
  max-width: 40%;
  margin: 2%;
}
mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
