<div class="image"></div>
<div id="card" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="3%">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Похудение и здоровье</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Одно из самых упорных и разрушительных заблуждений: диета необходима для
        оздоровления организма! Не догоню — так согреюсь, в смысле не похудею —
        так оздоровлюсь! На самом деле худоба связана с меньшей
        продолжительностью жизни и большей подверженностью некоторым
        заболеваниям в пожилом возрасте. О каких же проблемах со здоровьем стоит
        подумать тем, кто стремится похудеть? И можно ли наладить правильное
        питание без диет?Демонизация полноты как символа буквально всех
        существующих на свете тяжелых заболеваний имела под собой отчетливые
        экономические основания: страховым компаниям нужен был четкий критерий,
        по которому можно было повышать страховые взносы или отказывать в
        страховании здоровья. Неизбежно и симметрично худоба, веками
        символизировавшая бедность, плохое здоровье и дурной характер, вдруг
        стала признаком тотального здоровья и экономической состоятельности.
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>5 советов</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Пейте воду, особенно перед приемами пищи Часто утверждают, что вода
        может помочь снизить вес, и это правда. Употребление достаточного
        количества воды повышает обмен веществ на треть в течение 1–1,5 часов,
        что помогает сжигать дополнительные калории. Употребление 0,5 литра воды
        за полчаса до еды помогло сидящим на диете потреблять меньше пищи и
        худеть на 44% быстрее.
      </p>
      <p>
        Ешьте яйца на завтрак Употребление целых яиц имеет множество
        преимуществ, и одно из них – это помощь в избавлении от лишнего веса.
        Если заменить утреннюю кашу на яйца, это поможет вам потребить меньше
        калорий в течение следующих 36 часов и потерять больше веса, в
        особенности больше жира. Если по какой-то причине вы не можете есть
        яйца, не переживайте. Вы можете заменить их любым другим источником
        белка.
      </p>
      <p>
        Пейте кофе (желательно черный) Последнее время кофе несправедливо
        обвиняют во всех грехах. А зря. Добавление качественного кофе в ваше
        меню может принести неоценимую пользу – ведь этот напиток богат
        антиоксидантами. Научно доказано, что кофеин, содержащийся в кофе,
        повышает метаболизм на 3–11% и ускоряет сжигание жира на 10–29%, что
        особенно актуально на «сушке». Главное – не добавлять в кофе сахар или
        другие высококалорийные ингредиенты. Это полностью перечеркивает любую
        пользу, которую можно получить от потребления кофе.
      </p>
      <p>
        Пейте зеленый чай Как и кофе, зеленый чай имеет много преимуществ, одно
        из которых –помощь в сжигании жира. Зеленый чай содержит небольшое
        количество кофеина, но количество особых антиоксидантов, называемыми
        катехинами, в этом напитке бьет все рекорды. Ученые полагают, что
        катехины взаимодействуют с кофеином и помогают быстрее худеть. Несмотря
        на то что данные неоднозначны, есть много исследований, показывающих,
        что зеленый чай (в виде напитка или пищевой добавки на основе экстракта
        зеленого чая) может помочь вам в сжигании жира.
      </p>
      <p>
        Принимайте добавки с волокнами конжака (глюкоманнаном) В результате
        новейших исследований выявлено, что особый тип клетчатки, так называемые
        волокна конжака, или глюкоманнан, помогает похудеть. Этот тип пищевых
        волокон поглощает воду в кишечнике и на некоторое время задерживается в
        нем, что помогает дольше чувствовать сытость и сократить потребление
        калорий. Волокна конжака можно использовать как блокатор аппетита.
        Доказано, что люди, которые принимают глюкоманнан в виде добавок, теряют
        немного больше веса, чем те, кто этого не делает.
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Заказать звонок у диетолога</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        - Разбор Вашей истории, выявление и анализ причин набора веса.
      </p>
      <p>- Замеры антропометрических данных: вес, рост, объемы.</p>
      <p>
        - Профессиональная калиперометрия (замеры толщины жировой прослойки
        специальным прибором).
      </p>
      <p>
        - Персональный расчет основных показателей метаболизма (скорость обмена
        веществ, индекс массы тела и др.).
      </p>
      <p>
        - Определение процентного содержания жира в организме специальным
        устройством.
      </p>
      <p>- Правильная постановка цели и декомпозиция на этапы.</p>
      <p>
        - Индивидуальный расчет суточной калорийности рациона и норм БЖУ
        (белков, жиров, углеводов) c учетом Ваших целей.
      </p>
      <p>- Расчет нормы потребления жидкостей.</p>
      <p>
        - Определение уровня тренированности и коэффициента физической
        активности.
      </p>
      <p>- Подбор инструментов для достижения Ваших целей.</p>
      <p>
        - Комплексная консультация по питанию и тренингу с учетом
        физиологических показателей, особенностей жизнедеятельности и
        поставленной цели.
      </p>
      <p>- Ответы на все Ваши вопросы.</p>
      <p>
        - Выдача бланка со всеми данными и подробными рекомендациями диетолога.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ЗАКАЗАТЬ ЗВОНОК</button>
    </mat-card-actions>
  </mat-card>
</div>
