mat-accordion {
  overflow-y: auto;
  height: 80%;
  mat-expansion-panel {
    mat-expansion-panel-header {
      mat-panel-title {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}
div {
  width: 190px;
}
