<app-banner image="assets/images/sport.jpg"></app-banner>
<div
  class="container"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="start stretch"
>
  <mat-card *ngFor="let sport of sports" [fxFlex]="getFlex()" fxFlexOffset="3%">
    <mat-card-header>
      <mat-card-title>{{ sport.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="sport.image" alt="Sport" />
    <mat-card-content>{{ sport.description }}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Подробнее</button>
    </mat-card-actions>
  </mat-card>
</div>
