agm-map {
  height: 300px;
  width: 800px;
  border: 25px;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}

div.container {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 2%;
}
