<mat-dialog-content>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <form
      fxLayout="column"
      fxLayoutAlign="space-around center"
      [formGroup]="myFirstReactiveForm"
    >
      <h3>Название тренинга</h3>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="title"
          formControlName="title"
          placeholder="Введите название"
          pattern="^(?:[а-яА-Я ()\s]+)$"
        />
        <div class="error" *ngIf="isControlInvalid('title')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Описание тренинга</h3>
      <mat-form-field>
        <textarea
          matInput
          [(ngModel)]="description"
          formControlName="description"
          placeholder="Введите описание"
        ></textarea>
        <div class="error" *ngIf="isControlInvalid('description')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Валюта</h3>
      <mat-form-field>
        <mat-label>Выберите валюту</mat-label>
        <mat-select [(ngModel)]="currency" formControlName="currency">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="RUB">RUB</mat-option>
          <mat-option value="BYN">BYN</mat-option>
        </mat-select>

        <div class="error" *ngIf="isControlInvalid('currency')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Цена</h3>
      <mat-form-field>
        <input
          [(ngModel)]="price"
          formControlName="price"
          matInput
          placeholder="Введите цену"
          pattern="^[0-9]+$"
        />
        <div class="error" *ngIf="isControlInvalid('price')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Лидер</h3>
      <mat-form-field>
        <input
          [(ngModel)]="leader"
          formControlName="leader"
          matInput
          placeholder="Введите руководителя"
          pattern="^(?:[а-яА-Я ()\s]+)$"
        />
        <div class="error" *ngIf="isControlInvalid('leader')">
          Зaполните поле
        </div>
      </mat-form-field>

      <h3>Картинка</h3>
      <button mat-raised-button (click)="inputFile.click()">
        Выберите файл
      </button>
      <input
        #inputFile
        type="file"
        (change)="onFileSelected($event)"
        name="file"
        id="file"
        class="inputfile"
      />
      <button [disabled]="typeError" mat-raised-button (click)="addItem()">
        Добавить тренинг
      </button>
      <button mat-raised-button (click)="onClose()">
        Закрыть
      </button>
    </form>
  </div>
</mat-dialog-content>
