<div formGroupName="productCreationForm">
  <mat-form-field>
    <input formControlName="title" name="title" type="text" placeholder="Наименование продукта" />
  </mat-form-field>
  <mat-form-field>
    <input formControlName="price" name="price" type="number" placeholder="Цена продукта" />
  </mat-form-field>
  <mat-form-field>
    <textarea
      formControlName="description"
      name="description"
      id=""
      cols="30"
      rows="10"
      placeholder="Описание продукта"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="firm" name="title" type="text" placeholder="Фирма продукта" />
  </mat-form-field>
</div>
