div {
  display: flex;
  flex-direction: column;

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    mat-form-field {
      textarea {
        resize: none;
      }
    }

    input[type="file"] {
      //Отключено отображение, потому-что кнопка не поддерживается Material
      //Поле будет связанно с кнопкой
      display: none;
    }
  }
  mat-dialog-actions {
    div {
      margin-top: 3%;
      button {
        margin-top: 1%;
        margin-right: 2%;
      }
    }
  }
}
