<div
  class="output"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="start stretch"
>
  <mat-card
    *ngFor="let item of (items | async); let i = index"
    [fxFlex]="getFormattedFlexSize()"
    fxFlexOffset="3%"
  >
    <mat-card-header>
      <mat-card-title>{{ item.title | textLength: 30 }}</mat-card-title>
      <mat-card-subtitle *ngIf="item.price">{{
        item.getFormattedPrice()
      }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.image" alt="Photo of Eat" />
    <mat-card-content>

      <p>  {{ item.description | textLength: 100 }}</p>
      <p>{{ item.moreInfo }}</p>
      <p>{{ item.leader }}</p>

    

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Перейти</button>
      <button mat-raised-button color="primary">
        <mat-icon>favorite</mat-icon> Понравилось!
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <mat-paginator
    [pageSize]="9"
    [pageSizeOptions]="[9, 12, 15, 18]"
    [length]="9"
  ></mat-paginator>
</div>
