div.container {
  width: 90%;
  margin: auto;
}
div.label {
  text-align: center;
  font-size: 7vh;
  font-weight: bold;
}

mat-card {
  mat-card-content {
    text-align: justify;
  }
}

p {
  text-align: justify;
  text-indent: 25px;
}
div.Nutrionist {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

table {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  th {
    background: #bcebdd;
    color: hsl(4, 74%, 67%);
    text-shadow: 0 1px 1px #2d2020;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    text-align: center;
    font-size: 1.2em;
  }
  td {
    padding: 10px 20px;
    background: #f8e391;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    text-align: center;
  }
}

div.mobile {
  p {
    text-align: left;
    font-size: 2vh;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  mat-card {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  mat-card-content {
    p {
      color: hsl(4, 74%, 67%);
      text-align: left;
    }
  }
}
