<app-banner image="assets/images/nature.jpg"></app-banner>
<div class="container">
  <div fxLayout="row" fxLayout.xs="column">
    <app-filter fxFlexOffset="3%" fxFlex="23%" [filter]="filter"></app-filter>
    <app-output
      [service]="eventService"
      [btnFollow]="true"
      [btnLike]="true"
      [eventLike]="true"
      fxFlex="73%"
      fxFlexOffset="3%"
      [filter]="filter"
      [update]="this.filterComponent.shouldBeUpdate"
      collection="events"
    ></app-output>
  </div>
</div>
