.main {
  width: 100%;
}
.container3 {
  width: 30%;
}
.user {
  width: 100%;
}
.chat {
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  margin-left: 5%;
}
.chat p {
  text-align: center;
}
.chat button,
mat-form-field {
  margin-left: 5%;
}

.info {
  width: 70%;
  border-radius: 0.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 2%;
}

.container {
  width: 100%;
  background-color: #f0f0f0;
}

.info p {
  margin: 2%;
}

.card_user {
  width: 80%;
  margin-bottom: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  margin-top: 6.5%;
}
.card_user button {
  background-color: #ad8b29;
}
mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_user p {
  margin-left: 5%;
}
.card_user button {
  width: 50%;
}
.img {
  object-fit: cover;
}

.about {
  margin: 2%;
}

.card_stats {
  margin: 2%;
  width: 80%;
}

.event {
  width: 21%;
  background-color: #ffffff;
  border-radius: 3%;
  margin: 2%;
  margin-bottom: 5%;
}
.event button {
  margin-bottom: 7%;
  margin-left: 5%;
  margin-top: 7%;
}

.event p {
  text-align: center;
}
