<div class="main" fxLayout="row">
  <div class="container3" fxLayout="column">
    <div class="user">
      <mat-card class="card_user">
        <mat-card-header>
          <mat-card-title><b>Картман</b></mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAc5zqH5SN-8vWbPQPJzIVq-LAnTIku8iiyJgjL5sfW8M-ebZiYw"
        />
        <mat-card-content>
          <p><b>Возраст:</b> 10.</p>
          <p><b>Пол:</b> Мужской.</p>
          <p><b>Деньги:</b> 500р.</p>
          <p><b>Адрес:</b> Адрес 1.</p>
          <p><b>Контакты:</b> +375ххххххххх.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Выйти из профиля</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="chat">
      <p><b>Чат с психологом</b></p>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <h3 matLine>{{ message }}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput placeholder="Введите ваше сообщение" />
        </mat-form-field>
        <button mat-raised-button>Отправить</button>
      </mat-list>
    </div>
  </div>
  <div class="info">
    <br />
    <p><b>О себе:</b></p>
    <div class="about">
      <p>
        Картман — избалованный, жадный, влюблённый в себя чуть ли не до
        нарциссизма, обладающий скверным характером, грязно выражающийся
        десятилетний ребёнок, страдающий ожирением; он плохо относится ко всем
        окружающим и является крайне последовательным нацистом (единственный
        чернокожий, к которому Картман относился нормально, — Шеф). Прототипом
        этого героя стали: немецкий лётчик-ас Эрих Хартманн, персонаж известного
        ситкома Арчи Банкер, а также школьный знакомый Трея Паркера по имени
        Мэтт Карпман Картман ненавидит почти всех, особенно хиппи и евреев.
        Любит унижать своих одноклассников: Кайла из-за религии, которую тот
        исповедует, Кенни по причине его бедности. Безответный Баттерс часто
        страдает от выходок Картмана. Единственным настоящим другом Эрику
        приходится его игрушка лягушонок Клайд. Задуманный как единственный
        антигерой из всей четвёрки ребят, он с самого первого сезона привлекает
        к себе большее внимание зрителей, чем оставшаяся троица. В частности, он
        является любимым героем в сериале одного из двоих создателей шоу — Мэтта
        Стоуна. Со временем Картман превратился в настоящего «толкача» шоу, с
        каждой серией демонстрируя не только хитрость и изобретательность, но и
        недюжинный интеллект, далеко превосходящий возможности обычного
        четвероклассника.
      </p>
    </div>
    <div class="container">
      <br />
      <p><b>Ваши события:</b></p>
      <div fxLayout="row wrap" fxLayoutAlign="flex-start">
        <div class="event" *ngFor="let ar of area">
          <mat-card class="card_event">
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>{{ ar.title }}</p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button>Перейти</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container2">
      <br />
      <p><b>Ваша статистика:</b></p>
      <div class="stats" fxLayout="row">
        <mat-card class="card_stats">
          <mat-card-header>
            <mat-card-title><b>Активность</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="http://bahgorsovet.org.ua/wp-content/uploads/2017/10/f5bf8622ab935d5f20c3deb8c38ec137.jpg"
          />
          <mat-card-content>
            <p><b>Добавленно друзей:</b> 2</p>
            <p><b>Организованно мероприятий:</b> 1</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card_stats">
          <mat-card-header>
            <mat-card-title><b>Спорт</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://us.123rf.com/450wm/tnn103eda/tnn103eda1701/tnn103eda170100017/70254858-multi-sports-players-in-action-collage-on-grand-arena.jpg?ver=6"
          />
          <mat-card-content>
            <p><b>Количество увлечений</b> 2</p>
            <p><b>Посещенно мероприятий:</b> 1</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card_stats">
          <mat-card-header>
            <mat-card-title><b>Покупки</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYXw87D7QzawjPFxdKJtYfcHv71sg83FVz7r5WIwNBZY2fxdiH"
          />
          <mat-card-content>
            <p><b>Купленно вещей:</b> 1</p>
            <p><b>Потрачено денег:</b> 200</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
