<mat-dialog-content>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <form
      fxLayout="column"
      fxLayoutAlign="space-around center"
      [formGroup]="myFirstReactiveForm"
    >
      <h3>Название продукта</h3>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="title"
          formControlName="title"
          placeholder="Введите название"
        />
        <div class="error" *ngIf="isControlInvalid('title')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Описание продукта</h3>
      <mat-form-field>
        <textarea
          matInput
          [(ngModel)]="description"
          formControlName="description"
          placeholder="Введите описание"
        ></textarea>
        <div class="error" *ngIf="isControlInvalid('description')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Цена</h3>
      <mat-form-field>
        <input
          [(ngModel)]="price"
          formControlName="price"
          matInput
          placeholder="Введите цену"
        />
        <div class="error" *ngIf="isControlInvalid('price')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Валюта</h3>
      <mat-form-field>
        <mat-label>Выберите валюту</mat-label>
        <mat-select [(ngModel)]="currency" formControlName="currency">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="RUB">RUB</mat-option>
          <mat-option value="BYN">BYN</mat-option>
        </mat-select>

        <div class="error" *ngIf="isControlInvalid('currency')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Фирма производитель</h3>
      <mat-form-field>
        <input
          [(ngModel)]="firm"
          formControlName="firm"
          matInput
          placeholder="Введите фирму"
        />
        <div class="error" *ngIf="isControlInvalid('firm')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Тип товара</h3>
      <mat-form-field>
        <mat-label>Выберите тип товара</mat-label>
        <mat-select [(ngModel)]="type" formControlName="type">
          <mat-option value="Одежда">Одежда</mat-option>
          <mat-option value="Обувь">Обувь</mat-option>
          <mat-option value="Питание">Питание</mat-option>
          <mat-option value="Инвентарь">Инвентарь</mat-option>
        </mat-select>
        <div class="error" *ngIf="isControlInvalid('type')">
          Зaполните поле
        </div>
      </mat-form-field>

      <h3>Картинка</h3>
      <button mat-raised-button (click)="inputFile.click()">
        Выберите файл
      </button>
      <input
        #inputFile
        type="file"
        (change)="onFileSelected($event)"
        name="file"
        id="file"
        class="inputfile"
      />
      <button [disabled]="typeError" mat-raised-button (click)="addItem()">
        Добавить товар
      </button>
      <button mat-raised-button (click)="onClose()">
        Закрыть
      </button>
    </form>
  </div>
</mat-dialog-content>
