<div class="back">
  <div class="label">Питание</div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-evenly stretch"
  >
    <mat-card fxFlex="70%">
      <div>
        <mat-card fxFlex="100%">
          <mat-card-title>
            <span>Диетолог</span>
          </mat-card-title>
          <mat-card-subtitle
            ><span>
              Дието́лог — специалист в области диетологии, соответствующий
              академическим и профессиональным требованиям. Врач-диетолог
              является дипломированным врачом, закончившим медицинский вуз и
              получившим затем дополнительное образование по диетологии,
              подтвержденное соответствующим дипломом. Является экспертом в
              области питания. Врачи-диетологи занимаются лечением ожирения, а
              также дают рекомендации пациентам по вопросам правильного питания,
              ведения здорового образа жизни, либо ставят цели для достижения
              определённых результатов, связанных со здоровьем.</span
            ></mat-card-subtitle
          >
        </mat-card>
      </div>
      <table>
        <caption>
          Таблица калорийности
        </caption>
        <tr>
          <th rowspan="2">Группа</th>
          <th rowspan="2">Возраст, лет</th>
          <th colspan="4">Мужчины</th>
          <th colspan="4">Женщины</th>
        </tr>
        <tr>
          <td>Белки, г</td>
          <td>Жиры, г</td>
          <td>Углеводы, г</td>
          <td>Энергия, тыс. кДж</td>
          <td>Белки, г</td>
          <td>Жиры, г</td>
          <td>Углеводы, г</td>
          <td>Энергия, тыс. кДж</td>
        </tr>
        <tr>
          <td rowspan="4">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td rowspan="4">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td rowspan="4">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td rowspan="4">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
        <tr>
          <td>18-19</td>
          <td>91</td>
          <td>103</td>
          <td>378</td>
          <td>11,7</td>
          <td>78</td>
          <td>88</td>
          <td>324</td>
          <td>10,1</td>
        </tr>
      </table>

      <p>
        Здоровое питание — это питание, обеспечивающее рост, нормальное развитие
        и жизнедеятельность человека, способствующее укреплению его здоровья и
        профилактике заболеваний. Соблюдение правил здорового питания в
        сочетании с регулярными физическими упражнениями сокращает риск
        хронических заболеваний и расстройств, таких как ожирение,
        сердечно-сосудистые заболевания, диабет, повышенное давление и
        рак.Современная наука проводит многочисленные исследования, чтобы
        оптимизировать рацион питания для профилактики основных хронических
        заболеваний.
      </p>
    </mat-card>
  </div>
</div>
