div.container {
  height: 40%;
}

mat-card-subtitle {
  height: 27vh;
  color: rgb(231, 138, 153);
}
mat-card {
  opacity: 0.9;
  margin-top: 20vh;
  * {
    text-align: center;
  }
  div {
    button {
      margin: auto;
    }
  }
}

div.back {
  background: url(src\assets\images\au1.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
}
