<div class="back">
  <div class="label">Питание</div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-evenly stretch"
  >
    <mat-card fxFlex="70%">
      <div>
        <mat-card fxFlex="100%">
          <mat-card-title>
            <span>Диетолог</span>
          </mat-card-title>
          <mat-card-subtitle
            ><span>
              Дието́лог — специалист в области диетологии, соответствующий
              академическим и профессиональным требованиям. Врач-диетолог
              является дипломированным врачом, закончившим медицинский вуз и
              получившим затем дополнительное образование по диетологии,
              подтвержденное соответствующим дипломом. Является экспертом в
              области питания. Врачи-диетологи занимаются лечением ожирения, а
              также дают рекомендации пациентам по вопросам правильного питания,
              ведения здорового образа жизни, либо ставят цели для достижения
              определённых результатов, связанных со здоровьем.</span
            ></mat-card-subtitle
          >
        </mat-card>
      </div>
      <table class="delivery">
        <caption>
          Таблица калорийности
        </caption>
        <tr>
          <th>Группа</th>
          <th>Возраст, лет</th>
          <th>Белки, г</th>
          <th>Жиры, г</th>
          <th>Углеводы</th>
          <th>Энергия</th>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
        <tr>
          <td aria-label="Группа">
            Работники преимущественно<br />
            умственного труда
          </td>
          <td aria-label="Возраст, лет">20.3</td>
          <td aria-label="Белки, г">30.5</td>
          <td aria-label="Жиры, г">23.5</td>
          <td aria-label="Углеводы">23.5</td>
          <td aria-label="Время Энергия">40.3</td>
        </tr>
      </table>

      <p>
        Здоровое питание — это питание, обеспечивающее рост, нормальное развитие
        и жизнедеятельность человека, способствующее укреплению его здоровья и
        профилактике заболеваний. Соблюдение правил здорового питания в
        сочетании с регулярными физическими упражнениями сокращает риск
        хронических заболеваний и расстройств, таких как ожирение,
        сердечно-сосудистые заболевания, диабет, повышенное давление и
        рак.Современная наука проводит многочисленные исследования, чтобы
        оптимизировать рацион питания для профилактики основных хронических
        заболеваний.
      </p>
    </mat-card>
  </div>
</div>
