div {
  display: flex;
  flex-direction: row;
  div.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1.5% auto;
    div.search {
      width: 100%;
      mat-form-field {
        width: 100%;
      }
      button {
        margin-left: 2%;
        height: 60%;
      }
    }
    div.output {
      margin-top: 2%;
      max-height: none !important;
      mat-card {
        margin-bottom: 3%;
      }
    }
  }
}
