div.container {
  // width: 40%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}
div.label {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
.link {
  margin-bottom: 3%;
}
.descr {
  visibility: hidden;
}
div.sex {
  margin-bottom: 1%;
}
.example-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
h4 {
  margin-bottom: 1%;
}
.example-full-width {
  width: 100%;
}

.authorization-form {
  width: 100%;
}

mat-radio-button {
  margin-right: 1%;
}

mat-card {
  // width: 100;
  min-width: 150px;
  max-width: 500px;
  margin-left: 2%;
  margin-right: 2%;
}

// mat-vertical-stepper {
//   width: 40%;
// }

button {
  width: 100%;
  margin-bottom: 3%;
}

.buttonFacebook {
  background-color: #3578e5;
  color: white;
  // margin-bottom: 10%;
}
.buttonTwitter {
  background-color: #1da1f2;
  color: white;
}
.logo-image {
  // height: 100%;
  width: 7vh;
  cursor: pointer;
}
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}
