<mat-toolbar color="primary">
  <button *ngIf="!isLandscape" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="app-name">Olympia</h1>
  <span *ngIf="isLandscape">
    <button mat-button routerLink="/main">Главная страница</button>

    <button mat-button routerLink="/cardabouteat">Питание</button>

    <button mat-button routerLink="/shop">Магазин</button>
    <button mat-button routerLink="/training">Тренинги</button>

    <button mat-button routerLink="/sport">Спорт</button>
    <button mat-button routerLink="/crowdfunding">Краудфандинг</button>
    <button mat-button routerLink="/events">Мероприятия</button>
    <button *ngIf="(user | async)" mat-button routerLink="/area">Личный кабинет</button>
    <button *ngIf="(user | async)" mat-button routerLink="/chats">Чаты</button>
    <button *ngIf="!(user | async)" mat-button routerLink="/registration">Регистрация</button>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="true" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/main">Главная страница</a>

      <a mat-list-item routerLink="/cardabouteat">Питание</a>

      <a mat-list-item routerLink="/shop">Магазин</a>
      <a mat-list-item routerLink="/training">Тренинги</a>

      <a mat-list-item routerLink="/sport">Спорт</a>
      <a mat-list-item routerLink="/crowdfunding">Краудфандинг</a>
      <a mat-list-item routerLink="/events">Мероприятия</a>

      <a *ngIf="(user | async)" mat-list-item routerLink="/area">Личный кабинет</a>
      <a *ngIf="(user | async)" mat-list-item routerLink="/chats">Чаты</a>
      <a mat-list-item routerLink="/registration">Регистрация</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
