<app-banner image="assets/images/au1.jpg"></app-banner>
<div class="container" fxLayout="column">
  <mat-tab-group
    mat-stretch-tabs
    [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)"
  >
    <mat-tab label="Авторизация">
      <div fxLayout="column" fxLayoutAlign=" center">
        <mat-card fxFlex="100%">
          <mat-card-title>
            <div class="label">Авторизация</div>
          </mat-card-title>

          <form [formGroup]="formGroup">
            <mat-form-field class="example-full-width">
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                matInput
                required
              />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                type="password"
                placeholder="Пароль"
                matInput
                formControlName="password"
                required
              />
            </mat-form-field>
            <div *ngIf="successMessageAuth">
              <label class="success">{{ successMessageAuth }}</label>
            </div>
            <div *ngIf="errorMessageAuth">
              <label class="error">{{ errorMessageAuth }}</label>
            </div>
            <div
              class="link"
              fxLayout="row"
              fxLayoutAlign="space-evenly center"
            >
              <a (click)="registration()">
                <strong>Регистрация</strong>
              </a>
              <a (click)="legalRegistration()">
                <strong>Регистрация <br />Юр. лиц</strong>
              </a>
            </div>
            <button
              mat-button
              color="primary"
              type="submit"
              (click)="tryAuth(formGroup.value)"
            >
              Войти
            </button>
          </form>

          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div
              (click)="isClicked = !isClicked"
              [@bounce]="isClicked ? 'in' : 'on'"
            >
              <img
                class="logo-image"
                src="https://image.flaticon.com/icons/svg/145/145804.svg"
                (click)="auth.googleLogin()"
              />
            </div>

            <div
              (click)="isClicked = !isClicked"
              [@bounce]="isClicked ? 'in' : 'on'"
            >
              <img
                class="logo-image"
                src="https://image.flaticon.com/icons/svg/179/179319.svg"
                (click)="auth.facebookLogin()"
              />
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Регистрация">
      <div fxLayout="column" fxLayoutAlign=" center">
        <mat-card fxFlex="100%">
          <mat-card-title>
            <div class="label">Регистрация</div>
          </mat-card-title>
          <mat-vertical-stepper linear #stepper>
            <mat-step
              label="Данные"
              [stepControl]="formGroup"
              errorMessage="Необходимы данные."
            >
              <form [formGroup]="formGroup">
                <mat-form-field class="example-full-width">
                  <input
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    matInput
                    required
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input
                    type="password"
                    placeholder="Пароль"
                    matInput
                    formControlName="password"
                    required
                  />
                </mat-form-field>
                <div *ngIf="errorMessage">
                  <label class="error">{{ errorMessage }}</label>
                </div>
                <div *ngIf="successMessage">
                  <label class="success">{{ successMessage }}</label>
                </div>
                <button
                  mat-button
                  matStepperNext
                  type="submit"
                  (click)="tryRegister(formGroup.value)"
                >
                  Вперёд
                </button>
              </form>
            </mat-step>
            <mat-step label="Персональные данные" [stepControl]="formGroup1">
              <form [formGroup]="formGroup1">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Имя"
                    formControlName="name"
                    matInput
                    [(ngModel)]="name"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    [min]="minDate"
                    [max]="maxDate"
                    [matDatepicker]="picker"
                    placeholder="Дата вашего рождения"
                    formControlName="dateBirth"
                    [(ngModel)]="dateBirth"
                    name="dateBirth"
                    matInput
                    required
                    [formControl]="serializedDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="sex">
                  <mat-radio-group formControlName="sex" [(ngModel)]="sex">
                    <h4>Ваш пол</h4>
                    <mat-radio-button value="Мужчина">
                      Мужчина
                    </mat-radio-button>
                    <mat-radio-button value="Женщина">
                      Женщина
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field class="example-full-width">
                  <span matPrefix>+375 &nbsp;</span>
                  <input
                    type="tel"
                    matInput
                    placeholder="Телефон"
                    formControlName="phone"
                    [(ngModel)]="phone"
                    matInput
                    required
                  />
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <button
                    mat-button
                    (click)="
                      auth.addUserData(dateBirth, phone, sex, name, 'User', '')
                    "
                    matStepperNext
                  >
                    Завершить регистрацию
                  </button>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Регистрация Юр. лиц">
      <div fxLayout="column" fxLayoutAlign=" center">
        <mat-card fxFlex="100%">
          <mat-card-title>
            <div class="label">Регистрация</div>
          </mat-card-title>
          <mat-vertical-stepper linear #stepper>
            <mat-step
              label="Данные"
              [stepControl]="formGroup"
              errorMessage="Data is required."
            >
              <form [formGroup]="formGroup">
                <mat-form-field class="example-full-width">
                  <input
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    matInput
                    required
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input
                    type="password"
                    placeholder="Пароль"
                    matInput
                    formControlName="password"
                    required
                  />
                </mat-form-field>

                <div *ngIf="errorMessageLegal">
                  <label class="error">{{ errorMessageLegal }}</label>
                </div>
                <div *ngIf="successMessageLegal">
                  <label class="success">{{ successMessageLegal }}</label>
                </div>

                <button
                  mat-button
                  matStepperNext
                  type="submit"
                  (click)="tryLegalRegister(formGroup.value)"
                >
                  Вперёд
                </button>
              </form>
            </mat-step>
            <mat-step label="Юридические данные" [stepControl]="formGroupLegal">
              <form [formGroup]="formGroupLegal">
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Название организации"
                    formControlName="nameOrg"
                    matInput
                    [(ngModel)]="nameOrg"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <span matPrefix>+375 &nbsp;</span>
                  <input
                    type="tel"
                    matInput
                    placeholder="Телефон"
                    formControlName="phone"
                    [(ngModel)]="phone"
                    matInput
                    required
                  />
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Деятельность организации"
                    formControlName="activityOrg"
                    matInput
                    [(ngModel)]="activityOrg"
                    required
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Юридический адрес организации"
                    formControlName="adressOrg"
                    matInput
                    [(ngModel)]="adressOrg"
                    required
                  />
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <button
                    mat-button
                    matStepperNext
                    (click)="
                      auth.addLegalUser(
                        nameOrg,
                        phone,
                        activityOrg,
                        adressOrg,
                        'legalUser'
                      )
                    "
                  >
                    Завершить регистрацию
                  </button>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
