.postForm {
  width: 95%;
  margin: 1% auto;
  margin-bottom: 0;

  div.group {
    display: flex;
    justify-content: center;

    div.center {
      display: flex;
      flex-direction: column;
      text-align: center;

      div.fields {
        display: flex;
        flex-direction: row;
      }

    }
  }

}
