<mat-expansion-panel class="postForm">
  <mat-expansion-panel-header>
    <mat-panel-title> Добавление в коллекцию "{{ config.collectionName }}" </mat-panel-title>
    <mat-panel-description>
      Кликните чтобы расскрыть
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container">
    <div *ngFor="let group of config.groups" class="group">
      <div class="center">
        <h3>{{ group.title }}</h3>
        <div class="fields">
          <app-field
            *ngFor="let field of group.fields"
            [field]="field"
            [ngClass]="{ width70: field.fieldType === 'textarea' }"
          ></app-field>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
  <mat-action-row>
    <button mat-button (click)="postData()" [disabled]="!checkValid()">Добавить</button>
  </mat-action-row>
</mat-expansion-panel>
