.postForm {
  width: 95%;
  margin: 1% auto;
  margin-bottom: 0;
  div.container {
    div.group {
      display: flex;
      justify-content: center;
      div.center {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60%;
      }
    }
  }
}

app-field.width70 {
  width: 100%;
}
