.training {
  margin-top: 2%;
  margin-bottom: 2%;
}
.mat-divider {
  width: 100%;
}
.text {
  width: 60%;
  margin-right: 3%;
}
button {
  color: red;
}
.image {
  margin-left: 5%;
  width: 30%;
}
img {
  object-fit: cover;
  width: 100%;
}
