<mat-form-field
  *ngIf="
    field.fieldType === 'input' &&
    field.inputType !== 'mobile' &&
    field.inputType !== 'email' &&
    !field.greater &&
    !field.lower
  "
>
  <input
    matInput
    [type]="field.inputType"
    [placeholder]="field.inputPlaceHolder"
    (keyup)="press()"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    [minValue]="field.minValue"
    [maxValue]="field.maxValue"
    #control="ngModel"
  />
  <div *ngIf="control && !control.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="control && control.invalid">{{ getErrorMessage(control.control) }}</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.fieldType === 'input' && field.lower">
  <input
    matInput
    [type]="field.inputType"
    [placeholder]="field.inputPlaceHolder"
    (keyup)="press()"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    [minValue]="field.minValue"
    [maxValue]="field.maxValue"
    [lower]="field.connectedField"
    #control="ngModel"
  />
  <div *ngIf="control && !control.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="control && control.invalid">{{ getErrorMessage(control.control) }}</mat-error>
</mat-form-field>
<mat-form-field *ngIf="field.fieldType === 'input' && field.greater">
  <input
    matInput
    [type]="field.inputType"
    [placeholder]="field.inputPlaceHolder"
    (keyup)="press()"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    [minValue]="field.minValue"
    [maxValue]="field.maxValue"
    [greater]="field.connectedField"
    #control="ngModel"
  />

  <div *ngIf="control && !control.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="control && control.invalid">{{ getErrorMessage(control.control) }}</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.fieldType === 'input' && field.inputType === 'mobile'">
  <input
    matInput
    [type]="field.inputType"
    [placeholder]="field.inputPlaceHolder"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    phone
    #control="ngModel"
  />
  <div *ngIf="control && !control.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="control && control.invalid">{{ getErrorMessage(control.control) }}</mat-error>
</mat-form-field>
<mat-form-field *ngIf="field.fieldType === 'input' && field.inputType === 'email'">
  <input
    matInput
    [type]="field.inputType"
    [placeholder]="field.inputPlaceHolder"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    email
    #control="ngModel"
  />
  <div *ngIf="control && !control.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="control && control.invalid">{{ getErrorMessage(control.control) }}</mat-error>
</mat-form-field>
<div class="left">
  <mat-checkbox *ngIf="field.fieldType === 'checkbox'" (click)="press()">{{
    field.title
  }}</mat-checkbox>
</div>
<mat-form-field *ngIf="field.fieldType === 'select'">
  <mat-select
    [placeholder]="field.inputPlaceHolder || 'Заболевания'"
    [(ngModel)]="field.innerText"
    (selectionChange)="press()"
  >
    <mat-option *ngFor="let item of field.selectItems" [value]="item">
      {{ item }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button
  *ngIf="field.fieldType === 'button' && field.buttonType === 'icon'"
  mat-fab
  (click)="field.onClick()"
>
  <mat-icon>{{ field.title }}</mat-icon>
</button>
<div *ngIf="field.fieldType === 'button' && field.buttonType === 'file'">
  <button mat-raised-button color="primary" (click)="inputFile.click()">Выберите файл</button>
  <input
    #inputFile
    type="file"
    placeholder="Выберите файл"
    (change)="setFile($event.target.files)"
  />
</div>
<mat-form-field *ngIf="field.fieldType === 'textarea'" class="full">
  <textarea
    matInput
    [placeholder]="field.inputPlaceHolder"
    (keyup)="press()"
    [(ngModel)]="field.innerText"
    [required]="field.required"
    cols="40"
    rows="10"
    #controlTA="ngModel"
  >
  </textarea>
  <div *ngIf="controlTA && !controlTA.invalid">{{ setValid() }}</div>
  <mat-error *ngIf="controlTA && controlTA.invalid">{{
    getErrorMessage(controlTA.control)
  }}</mat-error>
</mat-form-field>
<div *ngIf="field.fieldType === 'list'" class="list">
  <mat-selection-list #items role="listbox">
    <mat-list-option
      *ngFor="let item of field.selectItems; let i = index"
      role="option"
      [value]="field.values[i]"
    >
      {{ item }}
    </mat-list-option>
  </mat-selection-list>
  <button
    mat-raised-button
    color="primary"
    (click)="deleteSelected(items.selectedOptions.selected)"
  >
    Удалить выбранные
  </button>
</div>
<mat-radio-group
  fxLayout="column"
  fxLayoutAlign="start stretch"
  [(ngModel)]="field.innerText"
  *ngIf="field.fieldType === 'radio'"
  aria-label="Select an option"
>
  <mat-radio-button *ngFor="let val of field.selectItems">{{ val }}</mat-radio-button>
</mat-radio-group>

<mat-form-field *ngIf="field.fieldType === 'date'">
  <input
    matInput
    [(ngModel)]="field.innerText"
    [matDatepicker]="picker"
    [placeholder]="field.inputPlaceHolder"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
