<div class="back">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-evenly stretch"
  >
    <mat-card fxFlex="20%">
      <div>
        <mat-card-title>
          <span>Питание</span>
        </mat-card-title>
        <mat-card-subtitle
          ><span
            >Здесь вы ознакомитесь с правилами здорового питания</span
          ></mat-card-subtitle
        >
      </div>
      <div>
        <button mat-raised-button color="accent">Перейти</button>
      </div>
    </mat-card>
    <mat-card fxFlex="20%">
      <mat-card-title>
        <span>Диетолог</span>
      </mat-card-title>
      <mat-card-subtitle
        >Тут вы сможете задать вопрос нашему диетологу</mat-card-subtitle
      >
      <button mat-raised-button color="accent">Перейти</button>
    </mat-card>
  </div>
</div>
