<app-banner
  image="https://firebasestorage.googleapis.com/v0/b/olympia-be079.appspot.com/o/banners%2Fuser-profile.png?alt=media&token=0d3f5848-aae0-40e6-b835-657512922728"
></app-banner>
<div class="main" fxLayout="row" fxLayout.xs="column">
  <div class="container" fxLayout="column" [fxFlex]="getFxSize3()" fxLayoutAlign="start stretch">
    <!--Если пользователь загрузился из БД, то он отображается-->
    <ng-container *ngIf="user; else elseTemplate">
      <div class="user">
        <mat-card class="card_user">
          <mat-card-header>
            <!--Если у пользователя есть поле имя, то оно отображается-->
            <mat-card-title *ngIf="user.displayName"
              ><b>{{ user.displayName }}</b></mat-card-title
            >
            <ng-container *ngIf="user.displayName; else showDisplayName">
              <mat-card-title
                ><b>{{ user.displayName }}</b></mat-card-title
              >
            </ng-container>
            <ng-template #showDisplayName>
              <ng-container *ngIf="user.userName; else showImage">
                <mat-card-title
                  ><b>{{ user.userName }}</b></mat-card-title
                >
              </ng-container>
              <ng-template #showImage>
                <mat-card-title><b>Ваше имя неопределено</b></mat-card-title>
              </ng-template>
            </ng-template>
          </mat-card-header>
          <ng-container *ngIf="user.photoURL; else showImage">
            <img mat-card-image [src]="user.photoURL" />
          </ng-container>
          <ng-template #showImage>
            <img mat-card-image [src]="user.image" />
          </ng-template>

          <mat-card-content>
            <!--Если у пользователя есть поле день рождение, то оно отображается-->
            <p *ngIf="user.dateBirth"><b>Дата рождения:</b> {{ getFormattedDateString(user.dateBirth) }}</p>

            <!--Если у пользователя есть поле пол, то оно отображается-->
            <p *ngIf="user.sex"><b>Пол:</b> {{ user.sex }}</p>

            <!--Если у пользователя есть поле деньги, то оно отображается-->
            <p *ngIf="user.money"><b>Деньги:</b> {{ user.money }} бел.руб</p>

            <!--Если у юрижического лица есть поле адрес организации, то оно отображается-->
            <p *ngIf="user.adresOrg"><b>Адрес:</b> {{ user.adresOrg }}</p>

            <!--Если у пользователя есть поле телефон, то оно отображается-->
            <p *ngIf="user.phone"><b>Телефон: </b> {{ user.phone }}</p>

            <!--Если у пользователя есть поле електронный адрес, то оно отображается-->
            <p *ngIf="user.email"><b>Email:</b> {{ user.email }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="openEditProfile()">
              Редактирование данных
            </button>
            <button mat-raised-button (click)="auth.signOut()" color="warn">
              Выйти из профиля
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-container *ngIf="user; else elseTemplate">
      <div class="action" fxLayout="column" fxLayoutAlign="center center">
        <h3 class="actions-title">Ваши действия</h3>
        <div class="actions-btns" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center stretch">
          <button fxFlexOffset="2%" mat-raised-button color="primary" (click)="openProductCreator()">
            Добавить товар
          </button>
          <button fxFlexOffset="2%" mat-raised-button color="primary">Добавить секцию</button>
          <button fxFlexOffset="2%" mat-raised-button color="primary">Добавить событие</button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div *ngIf="user" class="info" [fxFlex]="getFxSize2()">
    <p *ngIf="user.about"><b>О себе:</b></p>
    <div class="about">
      <p>
        {{ user.about }}
      </p>
    </div>
    <div class="container2" fxLayout="column">
      <br />
      <p><b>Ваши события:</b></p>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">
        <div class="event" [fxFlex]="getFxSize()" *ngFor="let ar of area">
          <mat-card class="card_event">
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>{{ ar.title }}</p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button>Перейти</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container3" fxLayout="column">
      <p><b>Ваша статистика:</b></p>

      <div class="stats" fxLayout="row wrap" fxLayout.xs="column">
        <mat-card class="card_stats" [fxFlex]="getFxSize4()">
          <mat-card-header>
            <mat-card-title><b>Активность</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="http://bahgorsovet.org.ua/wp-content/uploads/2017/10/f5bf8622ab935d5f20c3deb8c38ec137.jpg"
          />
          <mat-card-content>
            <p><b>Добавленно друзей:</b> 2</p>
            <p><b>Организованно мероприятий:</b> 1</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card_stats" [fxFlex]="getFxSize4()">
          <mat-card-header>
            <mat-card-title><b>Спорт</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://us.123rf.com/450wm/tnn103eda/tnn103eda1701/tnn103eda170100017/70254858-multi-sports-players-in-action-collage-on-grand-arena.jpg?ver=6"
          />
          <mat-card-content>
            <p><b>Количество увлечений</b> 2</p>
            <p><b>Посещенно мероприятий:</b> 1</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="card_stats" [fxFlex]="getFxSize4()">
          <mat-card-header>
            <mat-card-title><b>Покупки</b></mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYXw87D7QzawjPFxdKJtYfcHv71sg83FVz7r5WIwNBZY2fxdiH"
          />
          <mat-card-content>
            <p><b>Купленно вещей:</b> 1</p>
            <p><b>Потрачено денег:</b> 200</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
