.main {
  word-wrap: break-word;
  width: 100%;
  min-height: 100%;
}
.container {
  margin-top: 3%;
}
.container2 {
  background-color: #f0f0f0;
}

.user {
  width: 100%;
}
.card_user {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 5%;

  margin-right: 4%;
}
.chat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  margin-right: 4.5%;
  margin-top: 6%;
  margin-bottom: 2.5%;
}
.chat p {
  text-align: center;
}
.chat button,
mat-form-field {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
mat-list-item-content {
  height: 10%;
}
textarea {
  max-height: 125px;
}
.card_stats {
  //margin: auto;
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 3%;
  margin-bottom: 1%;
}

.info {
  margin: 1%;
  margin-top: 3%;
  border-radius: 0.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info p {
  margin: 2%;
  text-align: justify;
}

.event {
  margin: 2%;
}
.event mat-card {
  min-height: 203px;
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
}
mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.action {
  margin-left: 5%;
  h3.actions-title {
  }
  div.actions-btns {
    button {
      margin-top: 3%;
    }
  }
}

div.spinner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
