<app-banner
  image="https://firebasestorage.googleapis.com/v0/b/olympia-be079.appspot.com/o/banners%2Fuser-profile.png?alt=media&token=0d3f5848-aae0-40e6-b835-657512922728"
></app-banner>
<div class="main" fxLayout="row" fxLayout.xs="column">
  <div
    class="container"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutAlign="start stretch"
    [fxFlex]="getFxSize3()"
  >
    <ng-container *ngIf="user; else elseTemplate">
      <div class="user" [fxFlex]="getFxSizemyUser()">
        <mat-card class="card_user">
          <mat-card-header>
            <ng-container *ngIf="user.displayName; else showDisplayName">
              <mat-card-title
                ><b>{{ user.displayName }}</b></mat-card-title
              >
            </ng-container>

            <ng-template #showDisplayName>
              <ng-container *ngIf="user.userName; else showImage">
                <mat-card-title
                  ><b>{{ user.userName }}</b></mat-card-title
                >
              </ng-container>
              <ng-template #showImage>
                <mat-card-title><b>Ваше имя неопределено</b></mat-card-title>
              </ng-template>
            </ng-template>
          </mat-card-header>
          <ng-container *ngIf="user.photoURL; else showImage">
            <img mat-card-image [src]="user.photoURL" />
          </ng-container>
          <ng-template #showImage>
            <img mat-card-image [src]="user.image" />
          </ng-template>

          <mat-card-content>
            <p *ngIf="user.dateBirth">
              <b>Дата рождения:</b> {{ getFormattedDateString(user.dateBirth) }}
            </p>
            <p *ngIf="user.sex"><b>Пол:</b> {{ user.sex }}</p>
            <p *ngIf="user.money"><b>Деньги:</b> {{ user.money }} бел.руб</p>
            <p *ngIf="user.adresOrg"><b>Адрес:</b> {{ user.adresOrg }}</p>
            <p *ngIf="user.phone"><b>Телефон: </b> {{ user.phone }}</p>
            <p *ngIf="user.email"><b>Email:</b> {{ user.email }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="accent"
              (click)="openEditProfile()"
            >
              Редактирование данных
            </button>
            <button mat-raised-button (click)="auth.signOut()" color="warn">
              Выйти из профиля
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-container *ngIf="user; else elseTemplate">
      <div
        class="action"
        fxLayout="column"
        fxLayoutAlign="center center"
        [fxFlex]="getFxSizemyInstr()"
      >
        <h3 class="actions-title">Ваши действия</h3>
        <div
          class="actions-btns"
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="center stretch"
        >
          <button
            *ngIf="userRole"
            fxFlexOffset="2%"
            mat-raised-button
            color="primary"
            (click)="openAddProduct()"
          >
            Добавить товар
          </button>
          <button
            *ngIf="userRole"
            fxFlexOffset="2%"
            mat-raised-button
            color="primary"
            (click)="openAddSport()"
          >
            Добавить секцию
          </button>
          <button
            fxFlexOffset="2%"
            mat-raised-button
            color="primary"
            (click)="openAddEvent()"
          >
            Добавить событие
          </button>
          <button
            *ngIf="userRole"
            fxFlexOffset="2%"
            mat-raised-button
            color="primary"
            (click)="openAddTraining()"
          >
            Добавить тренинг
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div *ngIf="user" class="info" [fxFlex]="getFxSize2()">
    <p *ngIf="user.about"><b>О себе:</b></p>
    <div class="about">
      <p>
        {{ user.about }}
      </p>
    </div>
    <div class="container2" fxLayout="column" fxLayout.xs="column">
      <p><b>Избранные события:</b></p>
      <div *ngIf="area.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSize()"
            *ngFor="let ar of area"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 50 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followEvents(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container3" fxLayout="column" fxLayout.xs="column">
      <p><b>Избранные товары:</b></p>
      <div *ngIf="prod.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSizefavprod()"
            *ngFor="let ar of prod"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 50 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followProducts(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="container4" fxLayout="column" fxLayout.xs="column">
      <p><b>Мои события:</b></p>
      <div *ngIf="myevents.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSize33()"
            *ngFor="let ar of myevents"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 30 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followMyEvent(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div
      *ngIf="userRole"
      class="container5"
      fxLayout="column"
      fxLayout.xs="column"
    >
      <p><b>Мои продукты:</b></p>
      <div *ngIf="myprod.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSizefavprod()"
            *ngFor="let ar of myprod"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 30 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followMyProducts(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div
      *ngIf="userRole"
      class="container6"
      fxLayout="column"
      fxLayout.xs="column"
    >
      <p><b>Мои тренинги:</b></p>
      <div *ngIf="mytr.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSizemytrain()"
            *ngFor="let ar of mytr"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 30 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followMyTraining(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div
      *ngIf="userRole"
      class="container7"
      fxLayout="column"
      fxLayout.xs="column"
    >
      <p><b>Мои спортклубы:</b></p>
      <div *ngIf="mysport.length > 0">
        <div class="stats" fxLayout="row wrap">
          <mat-card
            class="card_stats"
            [fxFlex]="getFxSizemysport()"
            *ngFor="let ar of mysport"
          >
            <mat-card-header>
              <mat-card-title
                ><b
                  ><p>
                    {{ ar.title | textLength: 30 }}
                  </p></b
                ></mat-card-title
              >
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button (click)="followMySport(ar)">
                Перейти
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
