<mat-dialog-content>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <form
      fxLayout="column"
      fxLayoutAlign="space-around center"
      [formGroup]="myFirstReactiveForm"
    >
      <h3>Название спортклуба</h3>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="title"
          formControlName="title"
          placeholder="Введите название"
        />
        <div class="error" *ngIf="isControlInvalid('title')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Описание спортклуба</h3>
      <mat-form-field>
        <textarea
          matInput
          [(ngModel)]="description"
          formControlName="description"
          placeholder="Введите описание"
        ></textarea>
        <div class="error" *ngIf="isControlInvalid('description')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Валюта</h3>
      <mat-form-field>
        <mat-label>Выберите валюту</mat-label>
        <mat-select [(ngModel)]="currency" formControlName="currency">
          <mat-option value="EUR">EUR</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="RUB">RUB</mat-option>
          <mat-option value="BYN">BYN</mat-option>
        </mat-select>

        <div class="error" *ngIf="isControlInvalid('currency')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Цена</h3>
      <mat-form-field>
        <input
          [(ngModel)]="price"
          formControlName="price"
          matInput
          placeholder="Введите цену"
        />
        <div class="error" *ngIf="isControlInvalid('price')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Контакты спортклуба</h3>
      <mat-form-field>
        <input
          [(ngModel)]="phoneNumbers"
          formControlName="phoneNumbers"
          matInput
          placeholder="Введите номер"
        />
        <div class="error" *ngIf="isControlInvalid('phoneNumbers')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Противопоказания</h3>
      <mat-form-field>
        <input
          [(ngModel)]="contraindications"
          formControlName="contraindications"
          matInput
          placeholder="Введите противопоказания"
        />
        <div class="error" *ngIf="isControlInvalid('contraindications')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Тип спортклуба</h3>
      <mat-form-field>
        <mat-label>Выберите тип спортклуба</mat-label>
        <mat-select [(ngModel)]="type" formControlName="type">
          <mat-option value="Волейбол">Волейбол</mat-option>
          <mat-option value="Баскетбол">Баскетбол</mat-option>
          <mat-option value="Футбол">Футбол</mat-option>
          <mat-option value="Бассейн">Бассейн</mat-option>
          <mat-option value="Хоккей">Хоккей</mat-option>
          <mat-option value="Айкидо">Айкидо</mat-option>
          <mat-option value="Самооборона">Самооборона</mat-option>
          <mat-option value="У-шу">У-шу</mat-option>
          <mat-option value="Бокс">Бокс</mat-option>
          <mat-option value="Плавание">Плавание</mat-option>
          <mat-option value="Дзюдо">Дзюдо</mat-option>
          <mat-option value="Борьба">Борьба</mat-option>
          <mat-option value="Самбо">Самбо</mat-option>
          <mat-option value="Велоспорт">Велоспорт</mat-option>
          <mat-option value="Гандбол">Гандбол</mat-option>
          <mat-option value="Лёгкая атлетика">Лёгкая атлетика</mat-option>
          <mat-option value="Тяжелая атлетика">Тяжелая атлетика</mat-option>
          <mat-option value="Гимнастика">Гимнастика</mat-option>
          <mat-option value="Акробатика">Акробатика</mat-option>
          <mat-option value="Фитнес">Фитнес</mat-option>
          <mat-option value="Каратэ">Каратэ</mat-option>
          <mat-option value="Танцы">Танцы</mat-option>
          <mat-option value="Хип-хоп">Хип-хоп</mat-option>
          <mat-option value="Единоборства">Единоборства</mat-option>
        </mat-select>
        <div class="error" *ngIf="isControlInvalid('type')">
          Зaполните поле
        </div>
      </mat-form-field>

      <h3>Картинка</h3>
      <button mat-raised-button (click)="inputFile.click()">
        Выберите файл
      </button>
      <input
        #inputFile
        type="file"
        (change)="onFileSelected($event)"
        name="file"
        id="file"
        class="inputfile"
      />
      <button [disabled]="typeError" mat-raised-button (click)="addItem()">
        Добавить спорт-клуб
      </button>
      <button mat-raised-button (click)="onClose()">
        Закрыть
      </button>
    </form>
  </div>
</mat-dialog-content>
