<mat-dialog-content>
  <div class="panel" fxLayout="column" fxLayoutAlign="space-around center">
    <form
      fxLayout="column"
      fxLayoutAlign="space-around center"
      [formGroup]="myFirstReactiveForm"
    >
      <h3>Название продукта</h3>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="title"
          formControlName="title"
          placeholder="Введите название"
        />
        <div class="error" *ngIf="isControlInvalid('title')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Описание продукта</h3>
      <mat-form-field>
        <textarea
          matInput
          [(ngModel)]="description"
          formControlName="description"
          placeholder="Введите описание"
        ></textarea>
        <div class="error" *ngIf="isControlInvalid('description')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Больше информации о продукте</h3>
      <mat-form-field>
        <input
          [(ngModel)]="moreInfo"
          formControlName="moreInfo"
          matInput
          placeholder="Введите moreInfo"
        />
        <div class="error" *ngIf="isControlInvalid('moreInfo')">
          Зaполните поле
        </div>
      </mat-form-field>
      <h3>Цена</h3>
      <mat-form-field>
        <input
          [(ngModel)]="price"
          formControlName="price"
          matInput
          placeholder="Введите price"
        />
        <div class="error" *ngIf="isControlInvalid('price')">
          Зaполните поле
        </div>
      </mat-form-field>

      <h3>Тип товара</h3>
      <mat-form-field>
        <input
          [(ngModel)]="type"
          formControlName="type"
          matInput
          placeholder="Введите type"
        />
        <div class="error" *ngIf="isControlInvalid('type')">
          Зaполните поле
        </div>
      </mat-form-field>

      <h3>Картинка</h3>
      <button mat-raised-button (click)="inputFile.click()">
        Выберите файл
      </button>
      <input
        #inputFile
        type="file"
        (change)="onFileSelected($event)"
        name="file"
        id="file"
        class="inputfile"
      />
      <button [disabled]="typeError" mat-raised-button (click)="addItem()">
        Добавить спорт-клуб
      </button>
      <button mat-raised-button (click)="onClose()">
        Закрыть
      </button>
    </form>
  </div>
</mat-dialog-content>
